/*Initializes*/
:root {
  margin: 0;
  padding: 0;
  --mobile-textsize: 10px;
}
/*Makes the background color of the whole document grey*/
html {
  background-color: #686c6c;
}
/*Sets all text to be white and certain font*/
* {
  color: white;
  font-family: "Courier New", Courier, monospace;
}
/*Sets input text to be black and font weight*/
input {
  color: black;
  font-weight: 600;
}


/*Only used on the create button to shape it*/
button {
  color: black;
  font-weight: 600;
  border-radius: 2rem;
  width: 150px;
  height: 50px;
}
/*Displays app name and logo in header next to each other*/
.appinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*Aligns elements to the left or right*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid white;
}
/*Sections the page into two rows on the left and one on the right*/
main {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 5rem auto;
  /*Sets the left rows to be create and filter sets the right ot be posts*/
  grid-template-areas:
    "left_create posts"
    "filters     posts";
}
/*Aligns the create button in the create section*/
.left_create {
  display: flex;
  flex-direction: row;
  grid-area: left_create;
  border-bottom: 1px solid white;
  padding-left: 20px;
  align-items: center;
}
/*Makes it so that element in filters section are sectioned*/
.filters {
  grid-area: filters;
}
/*Display label elements in rows*/
.labels {
  display: flex;
  flex-direction: column;
}
/*Sets the post area as well as the line to the left of it*/
.posts {
  grid-area: posts;
  border-left: 1px solid white;
  overflow-y: auto;
  height: 790px;
}
/*Displays "Filter by" text next to the filter image*/
.filter_by {
  display: flex;
  flex-direction: row;
}
/*Aligns the filter image with the text*/
.filter_img {
  padding-top: 15px;
}
/*Media query*/
@media screen and (max-width: 700px) {
  :root {
    font-size: var(--mobile-textsize);
  }
  /* we have to work on design of the smaller mobile design */
}

.logo {
  height: 3em;
}
/*Styling for the button that creates posts*/
#create_button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
/*Makes it so that when the "Label" text in filter by seems clickable*/
details summary {
  cursor: pointer;
}
/*Makes the label buttons circular and matching the website colors*/
.filterby_label {
  padding: 0.37rem 1rem;
  border: white solid;
  border-radius: 2rem;
  color: white;
  background-color: #686c6c;
  margin-top: 10px;
}
/*Darkens the label buttons when hovered*/
.filterby_label:hover {
  transition: 0.2s ease-in;
  background-color: #373b3b;
}
/*Keeps label and date inline with the arrow in filter by section*/
details summary > * {
  display: inline;
}
/*Spaces betwee the label and date*/
#date_option {
  margin-top: 20px;
}

/* popup css */

.edit_popup{
  visibility: hidden;
}

/*The content of popup*/
.edit_popup .content{
  position: absolute;
  width: 802px;
  height: 480px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #60686a;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  z-index: 2;
  
}
h1.popup {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 10px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
textarea {
  background: transparent;
  width: 750px;
  height: 250px;
  color: white;
  resize: none;
}
textarea::placeholder {
  color: white;
}
.label_and_button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
select {
  width: 246px;
  height: 52px;
  background: transparent;
  font-family: "Inter";
  color: white;
  border-color: white;
  font-family: "Inter";
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: white;
}
button.popup {
  width: 150px;
  height: 48px;
  background: transparent;
  border-radius: 30px;
  border-color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: white;
}

/*the gray out background*/
.edit_popup .background{

  position: fixed;
  top: 0px;
  left: 0px;
  width: 200vw;
  height: 200vh;
  background: rgba(9, 8, 8, 0.6);
  z-index: 1;
}