html {
    background-color: #686c6c;
}

* {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
/* input[type="button"] { */
input {
    color: black;
    font-weight: 600;
}

button {
    color: black;
    font-weight: 600;
    border-radius: 2rem;
    width: 150px;
    height: 50px;
}

.appinfo {
    display: flex;
    flex-direction: row;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
main {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 5rem auto;
    grid-template-areas: 
     "left_create posts"
     "filters     posts";
}

.left_create {
    display: flex;
    flex-direction: row;
    grid-area: left_create;
    border-bottom: 1px solid white;
    padding-left: 20px;
    align-items: center;
}

.filters {
    grid-area: filters;
}

.labels {
    display: flex;
    flex-direction: column;
}

.posts {
    grid-area: posts;
    border-left: 1px solid white;
}

.filter_by{
    display: flex;
    flex-direction: row;
}
.filter_img{
    padding-top: 15px;
}